.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.box-shadow(@shadow) {
	-webkit-border-radius: @shadow;
	-moz-border-radius: @shadow;
	border-radius: @shadow;
}

.box-sizing(@box-sizing) {
    -webkit-box-sizing: @box-sizing;
    -moz-box-sizing: @box-sizing;
    box-sizing: @box-sizing;
}

.background-clip(@clip) {
	-webkit-background-clip: @clip;
	background-clip: @clip;
}

.container() {
	padding: @padding-base;
	float: left;
	width: 100%;
}

.clearfix() {}